@import 'base/variables';
@import 'base/extend';

@import 'components/global';
@import 'components/header';
@import 'components/footer';

/* ############ ESTILOS LANDING PAGE ############ */
#landingPage {
    .seccionBienvenida { /* BIENVENIDA */
        background-color: #F1F2F2;
        padding: 12rem 0;
        text-align: center;

        img {
            max-width: 626px;
            width: 100%;
            animation: bienvenida 6s ease infinite;

            @keyframes bienvenida {
                0% {
                    transform: scale(100%);
                }
            
                15% {
                    transform: scale(115%);
                }
            
                30% {
                    transform: scale(100%);
                }
            }
        }

        h2 {
            text-transform: uppercase;
            font-weight: normal;
            margin: 2rem 1rem 2rem 1rem;
            font-size: 3rem;
            position: relative;
            min-width: 240px;

            @include media-size($md-medium,null){
                min-width: 400px;
                margin: 2rem 1rem 2rem 1rem;
            }
        }

        p {
            line-height: 3rem;
        }

        @extend %tituloLinea;
    }
    
    .experienciaDiseno { /* EXPERIENCIA DISENO */
        margin-top: 13rem;

        img {
            max-width: 423px;
            width: 100%;
        }

        h1 {
            font-size: 3.5rem;
            text-align: center;

            @include media-size($md-medium,null){
                text-align: left;
            }
        }

        p {
            margin-top: 3rem;
            text-align: justify;
        }

        .row {
            article {
                &:first-child {
                    text-align: center;
                }

                &:last-child {
                    margin-top: 5rem;

                    @include media-size($md-medium,null){
                        padding-left: 3rem;
                    }
                }
            }
        }
    }
    
    .areasDiseno { /* AREAS DE TRABAJO */
        margin-top: 20rem;

        @extend %tituloLinea;
        
        h2 {
            min-width: 200px;
            margin: 0 8px;
        }

        .row {
            margin-top: 8rem;

            article {
                margin-top: 8rem;

                @include media-size($md-medium,null){
                    margin-top: 0;
                }

                &:first-child {
                    margin-top: 0px;
                }

                img {
                    animation-name: animarArea;
                    animation-duration: 1.5s;
                    animation-timing-function: ease;

                    @keyframes animarArea {
                        from {
                            transform: translate(-50%);
                            opacity: 0;
                        }
                        to {
                            transform: translate(0%);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    
    .nuestrosTrabajos { /* GALERIA DE TRABAJOS */
        margin-top: 22rem;

        h2 {
            margin-bottom: 5rem;

            @extend %bordeTitulos;
        }
    }
    
    .nuestrosClientes { /* NUESTROS CLIENTES */
        background-color: #51BFEA;
        color: white;
        padding: 10rem 0;
        margin-top: 16rem;

        .contenedorClientes {
            display: flex;
            flex-flow: column;
            flex-wrap: wrap;
            align-items: center;
            /*Animacion del contenedor */ 
            animation: imagesClientes 1s;

            @include media-size($md-small,null){
                flex-flow: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
            }

            @keyframes imagesClientes {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }

            img {
                width: 180px;
                margin-top: 7rem;

                @include media-size($md-small,null){
                    width: 150px;
                    margin-left: 1.5rem;
                    margin-right: 1.5rem;
                }
            }
        }
    }
    
    .mapaUbicacion { /* MAPA UBICACION */ 
        margin-top: 12rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @include media-size($md-large, null){
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            text-align: left;
        }

        iframe {
            width: 100%;
            max-width: 800px;
            margin-top: 5rem;
            border-radius: 1rem;

            @include media-size($md-large, null){
                margin: 0;
            }
        }

        article {
            display: inline-block;
            width: 100%;

            p {
                display: inline-block;
            }
        }

        h2 {
            margin-bottom: 2rem;

            @include media-size($md-large,null){
                margin-top: 2rem;
            }
        }
        
        i {
            font-size: 2.5rem;
            color: $color-primario;
            margin: 1rem 0.5rem 1rem 1rem;
        }
    }
}

#miPortafolio {
    @extend %tituloLinea;

    .tusIdeas {
        margin-top: 10rem;
        
        h1 {
            font-size: 3.5rem;
            margin-bottom: 4rem;

            @extend %bordeTitulos;
        }
    }

    .imagenesPortafolio {
        margin-top: 16rem;

        h2 {
            min-width: 27rem;
            margin: 0 2rem;   
        }
        
        .g-galeriaTrabajos {
            margin-top: 4rem;
            display: grid;
            grid-template-areas:
                "imagen1"
                "imagen2"
                "imagen3"
                "imagen4"
                "imagen5"
                "imagen6"
                "imagen7"
                "imagen8"
                "imagen9"
                "imagen10"
                "imagen11"
                "imagen12";
            grid-template-columns: 1fr;
            grid-template-rows: repeat(12, 1fr);
    
            @include media-size($md-small,null){
                grid-template-areas:
                    "imagen1 imagen2"
                    "imagen3 imagen4"
                    "imagen5 imagen6"
                    "imagen7 imagen8"
                    "imagen9 imagen10"
                    "imagen11 imagen12";
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
            }
    
            @include media-size($md-medium,null){
                grid-template-areas:
                    "imagen1 imagen1 imagen2 imagen2 imagen3 imagen3"
                    "imagen4 imagen4 imagen4 imagen4 imagen5 imagen5"
                    "imagen6 imagen6 imagen6 imagen7 imagen7 imagen7"
                    "imagen8 imagen8 imagen9 imagen9 imagen10 imagen10"
                    "imagen11 imagen11 imagen12 imagen12 imagen12 imagen12";
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }
        }
    }
}

#formularioContacto {
    form {
        margin-top: 10rem;

        h1 {
            font-size: 3.5rem;
            margin: 0 auto 5rem 0;
            @extend %bordeTitulos;
        }

        article {
            margin-bottom: 4rem;

            label {
                display: block;
                text-align: left;
            }

            .tipoPersona {
                display: block;
                margin-bottom: 2rem;

                & + div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }
            }
        
            input[type="text"],
            select, 
            textarea {
                color: $color-texto;
                width: 100%;
                box-sizing: border-box;
                border-radius: 1rem;
                border: 1px solid $color-bordes;
                padding: 1rem 1.5rem;
                margin-top: 1rem;
            }

            input {
                &[type="checkbox"],
                &[type="radio"] {
                    margin-right: 4px;
                }

                &[type="checkbox"] + label {
                    display: inline-block;
                }
            }

            
        }        
    }
}
