@import 'base/variables';
@import 'base/extend';

@import 'components/global';
@import 'components/animacionCss';
@import 'components/header';
@import 'components/footer';

/* ############ ESTILOS LANDING PAGE ############ */
#landingPage {
    .seccionBienvenida { /* BIENVENIDA */
        background-color: #F1F2F2;
        padding: 12rem 0;
        text-align: center;

        img {
            max-width: 626px;
            width: 100%;
            animation: bienvenida 6s ease infinite;

            @keyframes bienvenida {
                0% {
                    transform: scale(100%);
                }
            
                15% {
                    transform: scale(115%);
                }
            
                30% {
                    transform: scale(100%);
                }
            }
        }

        h2 {
            text-transform: uppercase;
            font-weight: normal;
            margin: 2rem 1rem 2rem 1rem;
            font-size: 3rem;
            position: relative;
            min-width: 240px;

            @include media-size($md-medium,null){
                min-width: 400px;
                margin: 2rem 1rem 2rem 1rem;
            }
        }

        p {
            line-height: 3rem;
        }

        @extend %tituloLinea;
    }
    
    .experienciaDiseno { /* EXPERIENCIA DISENO */
        margin-top: 13rem;

        img {
            max-width: 423px;
            width: 100%;
        }

        h1 {
            font-size: 3.5rem;
            text-align: center;

            @include media-size($md-medium,null){
                text-align: left;
            }
        }

        p {
            margin-top: 3rem;
            text-align: justify;
        }

        .row {
            article {
                &:first-child {
                    text-align: center;
                }

                &:last-child {
                    margin-top: 5rem;

                    @include media-size($md-medium,null){
                        padding-left: 3rem;
                    }
                }
            }
        }
    }
    
    .areasDiseno { /* AREAS DE TRABAJO */
        margin-top: 20rem;

        @extend %tituloLinea;
        
        h2 {
            min-width: 200px;
            margin: 0 8px;
        }

        .row {
            margin-top: 8rem;

            article {
                margin-top: 8rem;

                @include media-size($md-medium,null){
                    margin-top: 0;
                }

                &:first-child {
                    margin-top: 0px;
                }

                img {
                    animation-name: animarArea;
                    animation-duration: 1.5s;
                    animation-timing-function: ease;

                    @keyframes animarArea {
                        from {
                            transform: translate(-50%);
                            opacity: 0;
                        }
                        to {
                            transform: translate(0%);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    
    .nuestrosTrabajos { /* GALERIA DE TRABAJOS */
        margin-top: 22rem;

        h2 {
            margin-bottom: 5rem;

            @extend %bordeTitulos;
        }
    }
    
    .nuestrosClientes { /* NUESTROS CLIENTES */
        background-color: #51BFEA;
        color: white;
        padding: 10rem 0;
        margin-top: 16rem;

        .contenedorClientes {
            display: flex;
            flex-flow: column;
            flex-wrap: wrap;
            align-items: center;
            /*Animacion del contenedor */ 
            animation: imagesClientes 1s;

            @include media-size($md-small,null){
                flex-flow: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
            }

            @keyframes imagesClientes {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }

            img {
                width: 180px;
                margin-top: 7rem;

                @include media-size($md-small,null){
                    width: 150px;
                    margin-left: 1.5rem;
                    margin-right: 1.5rem;
                }
            }
        }
    }
    
    .mapaUbicacion { /* MAPA UBICACION */ 
        margin-top: 12rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @include media-size($md-large, null){
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            text-align: left;
        }

        iframe {
            width: 100%;
            max-width: 800px;
            margin-top: 5rem;
            border-radius: 1rem;

            @include media-size($md-large, null){
                margin: 0;
            }
        }

        article {
            display: inline-block;
            width: 100%;

            p {
                display: inline-block;
            }
        }

        h2 {
            margin-bottom: 2rem;

            @include media-size($md-large,null){
                margin-top: 2rem;
            }
        }
        
        i {
            font-size: 2.5rem;
            color: $color-primario;
            margin: 1rem 0.5rem 1rem 1rem;
        }
    }
}

#miPortafolio {
    @extend %tituloLinea;

    .tusIdeas {
        margin-top: 10rem;
        
        h1 {
            font-size: 3.5rem;
            margin-bottom: 4rem;

            @extend %bordeTitulos;
        }
    }

    .imagenesPortafolio {
        margin-top: 16rem;

        .accordion-item {
            border: none;
        }

        .accordion-button {
            font-size: 2.5rem;
            padding: 3rem 2rem;
            box-shadow: inset 0 -1px 0 $color-bordes;

            &:not(.collapsed) {
                background-color: #f5f5f5;
                color: $color-texto;
                border-radius: 1rem;
                box-shadow: inset 0 -1px 0 $color-primario;
                
            }
        }

        .accordion-body {
            padding: 4rem 0 8rem 0;
        }
        
        .g-galeriaTrabajos {
            margin-top: 0;
            display: grid;
            grid-template-areas:
                "imagen1"
                "imagen2"
                "imagen3"
                "imagen4"
                "imagen5"
                "imagen6"
                "imagen7"
                "imagen8"
                "imagen9"
                "imagen10"
                "imagen11"
                "imagen12";
            grid-template-columns: 1fr;
            grid-template-rows: repeat(12, 1fr);
    
            @include media-size($md-small,null){
                grid-template-areas:
                    "imagen1 imagen2"
                    "imagen3 imagen4"
                    "imagen5 imagen6"
                    "imagen7 imagen8"
                    "imagen9 imagen10"
                    "imagen11 imagen12";
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
            }
        }

        #collapseOne {
            .g-galeriaTrabajos {
                @include media-size($md-medium,null){
                    grid-template-areas:
                        "imagen1 imagen1 imagen2 imagen2 imagen3 imagen3"
                        "imagen4 imagen4 imagen4 imagen4 imagen5 imagen5"
                        "imagen6 imagen6 imagen6 imagen7 imagen7 imagen7"
                        "imagen8 imagen8 imagen9 imagen9 imagen10 imagen10"
                        "imagen11 imagen11 imagen12 imagen12 imagen12 imagen12";
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                }
            }
        }

        #collapseTwo {
            .g-galeriaTrabajos {
                grid-template-areas:
                    "imagen1"
                    "imagen2"
                    "imagen3"
                    "imagen4"
                    "imagen5"
                    "imagen6"
                    "imagen7"
                    "imagen8"
                    "imagen9";
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(9, 1fr);

                @include media-size($md-small,null){
                    grid-template-areas:
                        "imagen1 imagen2"
                        "imagen3 imagen4"
                        "imagen5 imagen6"
                        "imagen7 imagen8"
                        "imagen9 imagen10"
                        "imagen11 imagen12";
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                }

                @include media-size($md-medium,null){
                    grid-template-areas:
                        "imagen1 imagen1 imagen2 imagen2 imagen3 imagen3"
                        "imagen4 imagen4 imagen5 imagen5 imagen6 imagen6"
                        "imagen7 imagen7 imagen8 imagen8 imagen9 imagen9";
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                }

                

                .g-contenedorImagen {
                    background-size: cover;
                    background-position: 50% 50%;
    
                    &:nth-child(1) {
                        background-image: url(../images/Tarjeta_Presentacion_1.jpg);
                    }
                    
                    &:nth-child(2) {
                        background-image: url(../images/Folleto-01.jpg);
                    }

                    &:nth-child(3) {
                        background-image: url(../images/Folleto-02.jpg);
                    }

                    &:nth-child(4) {
                        background-image: url(../images/Carnet-1.jpg);
                    }

                    &:nth-child(5) {
                        background-image: url(../images/Carnet-2.jpg);
                    }

                    &:nth-child(6) {
                        background-image: url(../images/agenda.jpg);
                    }

                    &:nth-child(7) {
                        background-image: url(../images/calendario.jpg);
                    }

                    &:nth-child(8) {
                        background-image: url(../images/facturas.jpg);
                    }

                    &:nth-child(9) {
                        background-image: url(../images/Tarjetas-Servimed.jpg);
                    }
                }
            }
        }

        #collapseThree {
            .g-galeriaTrabajos {
                grid-template-areas:
                    "imagen1"
                    "imagen2"
                    "imagen3"
                    "imagen4";
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(4, 1fr);
                grid-row-gap: 3rem;
                justify-items: center;

                @include media-size($md-small,null){
                    grid-template-areas:
                        "imagen1 imagen2"
                        "imagen3 imagen4";
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                }

                video {
                    position: relative;
                    border-radius: 1rem;
                    border: 1px solid #e6e6e6;
                    width: 100%;
                    max-width: 576px;
                }
            }
        }

        #PrototipoColorLab, #PrototipoPromatic {
            display: none;

            @include media-size($md-extraLarge,null){
                display: block;
            }

            #ColorLab, #Promatic  {
                display: block;
                margin: auto;
            }
        }
    }
}

#formularioContacto {
    form {
        margin-top: 10rem;

        h1 {
            font-size: 3.5rem;
            margin: 0 auto 5rem 0;
            @extend %bordeTitulos;
        }

        article {
            margin-bottom: 4rem;

            label {
                display: block;
                text-align: left;
            }

            .tipoPersona {
                display: block;
                margin-bottom: 2rem;

                & + div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }
            }
        
            input[type="text"],
            select, 
            textarea {
                color: $color-texto;
                width: 100%;
                box-sizing: border-box;
                border-radius: 1rem;
                border: 1px solid $color-bordes;
                padding: 1rem 1.5rem;
                margin-top: 1rem;
            }

            select {
                background-color: white;
            }

            input {
                &[type="checkbox"],
                &[type="radio"] {
                    margin-right: 4px;
                }

                &[type="checkbox"] + label {
                    display: inline-block;
                }
            }

            
        }        
    }
}

#ServiciosProfesionales {
    .introServicios {
        margin-top: 10rem;
        margin-bottom: 10rem;

        h1 {
            font-size: 3.5rem;
            margin-bottom: 4rem;
            @extend %bordeTitulos;
        }
    }

    .tablasServicios {
        table {
            margin: auto;
            border: 1px solid $color-bordes;

            th, td {
                padding: 1rem 3rem;
            }

            .colorVerde {
                color: map-get($map: $colores-extra, $key: verde );
            }

            .colorGrisClaro {
                color: $color-bordes;
            }
        }

        .tablaDesktop {
            display: none;

            @include media-size($md-medium, null) {
                display: table;
            }
        }

        .tablaMobile {
            @include media-size(null,320px){
                font-size: 12px;
            }

            table {
                width: 100%;
                max-width: 500px;
                margin-bottom: 4rem;

                td {
                    width: 50%;
                }
            }

            @include media-size($md-medium,null){
                display: none;
            }
        }
    }

    .detalleServicios {
        margin-top: 10rem;
        @extend %tituloLinea;

        .tituloLinea {
            margin-bottom: 4rem;

            h2 {
                min-width: 35rem;
                text-align: center;  
            }
        }

        h4 {
            font-weight: bold;
        }

        > ul > li {
            margin-top: 4rem;

            div {
                width: 60%;
                margin: auto;
            }
        }

        ul ul {
            margin-left: 4rem;
            list-style: circle;
        }
    }
}

#sobreMi {
    .fichaPresentacion {
        margin-top: 12rem;
        margin-bottom: 12rem;
        text-align: center;

        @include media-size($md-medium,null) {
            text-align: left;
        }

        .imgWrap {
            text-align: center;

            img {
                border-radius: 50%;
                border: 3px solid #e6e6e6;
                margin-bottom: 32px;

                @include media-size($md-medium,null){
                    margin-bottom: 0;
                }
            }
        }

        article {
            @include media-size($md-medium,null) {
                margin-left: 4rem;
            }

            h2 {
                margin-bottom: 1rem;
            }
    
            h1 {
                font-size: 3.5rem;
                margin-bottom: 2rem;
                font-weight: 400;
    
                span {
                    color: $color-primario;
                }
            }

            p {
                text-align: justify;
            }
        }
    }

    .formacionEstudios, .formacionAvanzada {
        @extend %tituloLinea;

        .tituloLinea {
            margin-bottom: 5rem;

            h2 {
                font-weight: normal;
                margin-right: 1rem;
            }
        }

        article {
            margin-bottom: 4rem;
            
            h4 {
                text-align: right;
                font-weight: bold;
            }
        }
    }

    .formacionEstudios {
        h2 {
            min-width: 16.25rem;
        }
    }

    .formacionAvanzada {
        margin-top: 12rem;

        h2 {
            min-width: 32.5rem;
        }
    }

    .nivelesSkills {
        background-color: #F1F2F2;
        padding: 10rem 0;
        margin-top: 12rem;

        .skillsDesarrollo {
            @include media-size($md-medium,null){
                margin-top: 4rem;
            }

            h2 {
                margin-bottom: 3rem;
            }

            ul {
                list-style: circle;
                margin-bottom: 4rem;
            }

            li {
                margin-left: 4rem;
            }

            h4 {
                font-weight: bold;
            }
        }

        .skillsDiseno {
            margin-top: 9rem;
            
            @include media-size($md-medium,null){
                margin: 0;
                padding: 0 1.25rem;
            }

            > div {
                align-items: center;
                text-align: center;
                border: 1px solid #cacaca;
                border-radius: 1rem;
                margin: 0;
                height: 100%;
                padding: 3rem 0 4rem 0;
            }

            h2 {
                padding: 3rem 0 3rem 0;
            }

            img {
                animation-name: habilidades;
                animation-duration: 1s;
                animation-timing-function: ease;

                @keyframes habilidades {
                    from {
                        transform: scale(10%);
                        opacity: 0;
                    }
                    to {
                        transform: scale(100%);
                        opacity: 1;
                    }
                }
            }

            h4 {
                margin-top: 2rem;
                height: 5rem;
                font-weight: bold;
            }
        }
    }

    .experienciaProfesional {
        .carousel-item {
            padding: 8rem 3rem 7rem 3rem;

            img {
                padding: 5rem 0;
            }

            p {
                text-align: justify;
            }

            h4 {
                font-weight: normal;
                font-size: 2.5rem;
                margin-bottom: 3rem;

                span {
                    color: $color-primario;
                }
            }
        }

        .descargas {
            margin-top: 11rem;
            border-top: 1px solid #cacaca;
            padding: 11rem 2.5rem 0 2.5rem;

            @include media-size($md-medium,null){
                border-top: none;
                border-left: 1px solid #cacaca;
            }

            a {
                margin-top: 6rem;
            }
        }
    }
}

#error404 {
    .mensajeError {
        margin-top: 14rem;

        p {
            margin-top: 7rem;
        }

        a {
            margin-top: 4rem;
        }
    }
}