%btnBasico {
    font-weight: bold;
    border: none;
    color: white;
    padding: 2rem 3rem;
    border-radius: 1rem;
    text-transform: uppercase;
    margin: 0 0.5rem;
    transition: all ease 80ms;
    position: relative;
    top: 0;
}

%bordeTitulos {
    display: inline-block;
    border-bottom: 0.5rem solid $color-primario;
    padding: 0 8px 0.5rem 1rem;
}

%tituloLinea {
    .tituloLinea {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .tituloLinea h2 {
        font-size: 3rem;
    }
    
    .tituloLinea hr {
        width: 100%;
        height: 0;
        border: 1px solid #cacaca;
    }
}


@mixin media-size($medidaMin,$medidaMax) {

    @if $medidaMax == null {
        @media only screen and (min-width: $medidaMin) {
            @content;
        } 
    
    } @else if $medidaMin == null {
        @media only screen and (max-width: $medidaMax) {
            @content;
        } 
    
    } @else {
        @media (min-width: $medidaMin) and (max-width: $medidaMax) {
            @content;
        }
    }
}

@mixin crearBoton($colorTexto,$colorBase) {
    @extend %btnBasico;

    /* SELECCION DE COLORES */
    color: $colorTexto;
    background-color: $colorBase;
    box-shadow: 0px 6px 0px darken($colorBase, 15%);

    &:hover {
        background-color: lighten($colorBase, $amount: 10%);
        box-shadow: 0px 6px 0px lighten(darken($colorBase, 15%), 5%);
    }

    &:active {
        background-color: $colorBase;
        /* se restan 6px para simular el movimiento del boton */
        box-shadow: 0px 0px 0px darken($colorBase, 25%);
        top: 6px;
    }
}

@mixin gradientImagen ($colorGradient) {
    border: 1px solid darken($colorGradient, 10%);
    background: radial-gradient(50% 50% at 50% 50%, $colorGradient 57%, darken($colorGradient,5%) 100%);

    &:hover {
        background: radial-gradient(50% 50% at 50% 50%, $colorGradient 57%, $colorGradient 100%);
    }
}